<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/study/studycreate.css">
    <title>공부 기록 작성 | DMS</title>

</head>
<body>
<header id="header">
    <div class="inner">
        <a href="/" id="dms"><img src="/img/DMS.png" height="80" onclick=""></a>
        <ul class="nav">
            <li><a href="/board/notice" class="nav_item">게시판</a></li>
            <li><a href="/study/studyHome" class="nav_item">공부기록</a></li>
            <li><a href="/schedule/plan" class="nav_item">일정</a></li>
        </ul>
        <span id="message"><img src="/img/message.png" id = message_icon onclick="openGetMessage()">
                    <a href="/messages/received"></a>
            </span>
        <span id="profile">
                       <li><a href="#"><img src="/img/profile.png" id = profile_icon  onclick=""></a>
                           <ul id="profile_dropdown">
                              <li><a href="/member/info" class="dropdown_item">내 정보</a></li>
                              <li><a href="/member/logout" class="dropdown_item">로그아웃</a></li>
                           </ul>
                        </li>
                </span>
    </div>
</header>

<div class="container">
    <form action="/study/studyCreates" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <p>공부 기록</p>
            <div style="display: none">
                <label for="memberId">아이디</label>
                <textarea id="memberId" name="memberId" th:text="${memberID}"></textarea>
                <br>
            </div>
            <label for="title">제목</label>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요">
            <br>
            <br>
            <label for="content"></label>
            <textarea type="text" id="content" name="content" placeholder="내용을 입력하세요"></textarea>
            <br>
            <label for="url">동영상url</label>
            <input type="text" id="url" name="url" placeholder="동영상 url 입력">
            <br>
            <div>
                <div class="file_input">
                    <input type="text" name="fileoriginname" />
                    <label>
                        <input type="file" name="files" onchange="selectFile(this);" />
                    </label>
                </div>
            </div>
            <br>
            <div class="button">
                <button type="submit" onclick="if(!document.getElementById('title').value){
                            alert('공부 기록의 제목을 작성해주세요.');
                            return false;}">등록</button>
            </div>

        </div>
        <script>
            // 파일 선택
            function selectFile(element) {

                const file = element.files[0];
                const filename = element.closest('.file_input').firstElementChild;

                // 파일 크기가 10MB를 초과하는 경우
                const fileSize = Math.floor(file.size / 1024 / 1024);
                if (fileSize > 10) {
                    alert('10MB 이하의 파일로 업로드해 주세요.');
                    filename.value = '';
                    element.value = '';
                    return false;
                }

                // 파일명 지정
                filename.value = file.name;
            }
        </script>
    </form>
</div>

<footer id="footer">
    <div class="inner">
        <div id="footer_container">
            <div id="mainName" class="items">
            <span id="D" class="large">
                D
            </span>
                <span class="small">
                iscover,
            </span>

                <span id="M" class="large">
                M
            </span>
                <span class="small">
                aster,
            </span>

                <span id="S" class="large">
                S
            </span>
                <span class="small">
                uccesed
            </span>
            </div>
            <div id="person" class="items">
                안현석, 이재혁, 김동명, 김은지, 하민영
            </div>
            <div id="tel_div" class="items">
            <span id="tel">
                tel)
            </span>
                <span id="tel_number">
                010-9341-6429
            </span>
            </div>

        </div>
    </div>
</footer>

<script src="/javascript/openMessage.js"></script>

</body>
</html>