<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>나의 공부기록 | DMS</title>
    <header id="header">
        <div class="inner">
            <a href="index.html" id="dms"><img src="/img/DMS.png" height="80" onclick=""></a>
            <ul class="nav">
                <li><a href="board.html" class="nav_item">게시판</a></li>
                <li><a href="/study/studyHome" class="nav_item">공부기록</a></li>
                <li><a href="/schedule/plan" class="nav_item">일정</a></li>
            </ul>
            <span id="message"><img src="/img/message.png" id = message_icon onclick=""></span>
            <span id="profile">
                   <li><a href="#"><img src="/img/profile.png" id = profile_icon  onclick=""></a>
                       <ul id="profile_dropdown">
                          <li><a href="#" class="dropdown_item">내 정보</a></li>
                          <li><a href="#" class="dropdown_item">로그아웃</a></li>
                       </ul>
                 </li>
            </span>
        </div>
    </header>
</head>
<body>
<link rel="stylesheet" href="/css/list.css">
<table class="board_wrap">
    <tr class="board_title">
        <td>나의 공부기록 | DMS</td>
    </tr>
    <table id="studyNum" class="board_list_wrap">
        <tbody>
        <tr class="board_list">
            <th class="num">번호</th>
            <th class="title">제목</th>
            <th class="writer">글쓴이</th>
            <th class="date">작성일</th>
        </tr>
        <tr class="index" th:each="study : ${studys}">
            <td class="num" th:name="studyId">0</td>
            <td class="title"><a th:href="@{/study/studyContent(id=${study.id})}" th:text="${study.title}">글 제목이 들어갑니다.</a></td>
            <td class="writer" th:text="${study.memberId}">DMS</td>
            <td class="date" th:text="${study.date}">2023.11.08</td>
        </tr>
        </tbody>
    </table>
    <br>
        <table class="board_page">
            <td class="bottom_first"><a th:href="@{/study/studyHome(page=${startPage}-1)}"> << </a></td>
            <td class="bottom_prev"><a th:if="${nowPage}>1" th:href="@{/study/studyHome(page=${nowPage}-2)}"> < </a>
            <a th:unless="${nowPage}>1"> < </a></td>
            <th:each th:each="page:${#numbers.sequence(startPage, endPage)}">
                <td class="num">
                    <a th:href="@{/study/studyHome(page=${page}-1)}" th:text="${page}"><script> let page = [[${page}]]</script></a>
                </td>
            </th:each>
            <td class="bottom_next"><a th:if="${nowPage}<${endPage}" th:href="@{/study/studyHome(page=${nowPage})}"> > </a>
            <a th:unless="${nowPage}<${endPage}"> > </a></td>
            <td class="bottom_last"><a th:href="@{/study/studyHome(page=${endPage}-1)}"> >> </a></td>
        </table>
    <table class="bottom_wrap">
        <td class="on"><a href="/study/studyCreate">쓰기</a></td>
    </table>
</table>
</body>
</html>

<script th:inline="javascript">
    let page = [[${nowPage}]];
    function studyNumSet() {
        let studyNum = 1;

        for(let i=1; i<=10; i++) {
            document.getElementById("studyNum").getElementsByTagName("tr")[i].getElementsByTagName("td")[0].innerHTML = (page-1)*10 + studyNum;
            studyNum++;
        }
    }
    studyNumSet();
</script>