<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공부 기록 추가</title>
</head>
<body>
<div class="container">
    <form action="/study/studyCreates" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <p>공부 기록</p>
            <label for="memberID">아이디</label>
            <textarea id="memberID" name="memberID" th:text="${memberID}"></textarea>
            <br>
            <label for="title">제목</label>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요">
            <br>
            <label for="content">내용</label>
            <textarea type="text" id="content" name="content" placeholder="내용을 입력하세요"></textarea>
            <br>
            <br>
            <label for="url">동영상url</label>
            <input type="text" id="url" name="url" placeholder="동영상 url 입력">
            <br>
            <div>
                <div class="file_input">
                    <input type="text" name="fileoriginname" />
                    <label> 첨부파일
                        <input type="file" name="files" onchange="selectFile(this);" />
                    </label>
                </div>
                <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
                <button type="button" onclick="addFile();" class="btns fn_add_btn"><span>파일 추가</span></button>
            </div>
        </div>
        <script>
            // 파일 선택
            function selectFile(element) {

                const file = element.files[0];
                const filename = element.closest('.file_input').firstElementChild;

                // 1. 파일 선택 창에서 취소 버튼이 클릭된 경우
                if ( !file ) {
                    filename.value = '';
                    return false;
                }

                // 2. 파일 크기가 10MB를 초과하는 경우
                const fileSize = Math.floor(file.size / 1024 / 1024);
                if (fileSize > 10) {
                    alert('10MB 이하의 파일로 업로드해 주세요.');
                    filename.value = '';
                    element.value = '';
                    return false;
                }

                // 3. 파일명 지정
                filename.value = file.name;
            }


            // 파일 추가
            function addFile() {
                const fileDiv = document.createElement('div');
                fileDiv.innerHTML =`
            <div class="file_input">
                <input type="text" readonly />
                <label> 첨부파일
                    <input type="file" name="files" onchange="selectFile(this);" />
                </label>
            </div>
            <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
        `;
                document.querySelector('.file_list').appendChild(fileDiv);
            }


            // 파일 삭제
            function removeFile(element) {
                const fileAddBtn = element.nextElementSibling;
                if (fileAddBtn) {
                    const inputs = element.previousElementSibling.querySelectorAll('input');
                    inputs.forEach(input => input.value = '')
                    return false;
                }
                element.parentElement.remove();
            }

        </script>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->

</body>
</html>