<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공부 기록 추가</title>
</head>
<body>
<div class="container">
    <form action="/study/studyCreates" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <p>공부 기록</p>
            <label for="memberId">아이디</label>
            <textarea id="memberId" name="memberId" th:text="${memberID}"></textarea>
            <br>
            <label for="title">제목</label>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요">
            <br>
            <label for="content">내용</label>
            <textarea type="text" id="content" name="content" placeholder="내용을 입력하세요"></textarea>
            <br>
            <br>
            <label for="url">동영상url</label>
            <input type="text" id="url" name="url" placeholder="동영상 url 입력">
            <br>
            <div>
                <div class="file_input">
                    <input type="text" name="fileoriginname" />
                    <label> 첨부파일
                        <input type="file" name="files" onchange="selectFile(this);" />
                    </label>
                </div>
            </div>
        </div>
        <script>
            // 파일 선택
            function selectFile(element) {

                const file = element.files[0];
                const filename = element.closest('.file_input').firstElementChild;

                // 파일 크기가 10MB를 초과하는 경우
                const fileSize = Math.floor(file.size / 1024 / 1024);
                if (fileSize > 10) {
                    alert('10MB 이하의 파일로 업로드해 주세요.');
                    filename.value = '';
                    element.value = '';
                    return false;
                }

                // 파일명 지정
                filename.value = file.name;
            }
        </script>
        <button type="submit">등록</button>
    </form>
</div>

</body>
</html>