<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/contents.css">
    <link rel="stylesheet" href="/css/plan.css">
    <link rel="stylesheet" href="/css/footer.css">


    <title>Document</title>
</head>
<body>
<header id="header">
    <div class="inner">
        <a href="/" id="dms"><img src="/img/DMS.png" height="80" onclick=""></a>
        <ul class="nav">
            <li><a href="board.html" class="nav_item">게시판</a></li>
            <li><a href="/study/studyHome" class="nav_item">공부기록</a></li>
            <li><a href="/schedule/plan" class="nav_item">일정</a></li>
        </ul>
        <span id="message"><img src="/img/message.png" id = message_icon onclick=""></span>
        <span id="profile">
                   <li><a href="#"><img src="/img/profile.png" id = profile_icon  onclick=""></a>
                       <ul id="profile_dropdown">
                          <li><a href="#" class="dropdown_item">내 정보</a></li>
                          <li><a href="#" class="dropdown_item">로그아웃</a></li>
                       </ul>
                 </li>
            </span>
    </div>
</header>
<section id="contents">
    <div class="inner">
        <div>
            <div id="Calendar_header">
                <span id="currentYearMonth"></span>
                <button id="openPlanWrite" class="plan_button add_plan_btn" onclick="planOpen()">일정 쓰기</button>
                <button class="next plan_button direct_btn" onclick="showCalendar(1)">></button>
                <button class="prev plan_button direct_btn" onclick="showCalendar(-1)"><</button>

            </div>
            <div id="Calendar_Container"></div>

        </div>
        <div id="planWrite" class="modal">
            <div id="planWriteContent">
                <div id="planWriteHeader">
                    <span id="planWrite_title">일정을 입력하세요</span>
                    <div class="close" id="closePlanBtn" onclick="planClose()">&times;</div>
                </div>
                <form id="formWrite" action="/schedule/scheduleCreates" method="post">
                <div id="planWriteInner">
                    <div id="plan_Container">
                        <div class="Inner_item" id="plan_item">
                            <label for="plan_memberId">사용자ID</label>
                            <br>
                            <input type="text" id="plan_memberId" name="memberId" th:value="${memberId}">
                        </div>
                        <div>
                            <label for="plan_content">일정 내용</label>
                            <br>
                            <input type="text" id="plan_content" name="title" value="">
                        </div>
                        <div class="Inner_item" id="date">
                            <label for="date_select">날짜</label>
                            <br>
                            <input type="date" id="date_select" name="date">
                        </div>
                    </div>
                </div>

                <div id="planWriteFooter">
                    <button type="submit" onclick="addPlan()">추가</button>
                </div>
                </form>
<!--                action 내용이랑 controller랑 연결해서 입력 데이터를 처리함 => 추가, 상세보기 form 2개 만듦-->
                <form id="formContent" action="/scheduleUpdate" method="post">
                    <div id="planContentInner">
                        <div id="plan_Container1">
                            <div class="Inner_item" id="plan_item1">
                                <div>
                                <label for="plan_Id">ID</label>
                                <br>
                                <input type="text" id="plan_Id" name="id">
                                </div>
                                <div>
                                <label for="plan_memberId">사용자ID</label>
                                <br>
                                <input type="text" id="plan_memberId1" name="memberId" th:value="${memberId}">
                            </div>
                            <div>
                                <label for="plan_content">일정 내용</label>
                                <br>
                                <input type="text" id="plan_content1" name="title">
                            </div>
                            <div class="Inner_item" id="date1">
                                <label for="date_select">날짜</label>
                                <br>
                                <input type="date" id="date_select1" name="date">
                            </div>
                        </div>
                    </div>

                    <div id="planWriteFooterUpdate">
                        <button type="" formaction="/scheduleDelete">삭제</button>
                        <button type="submit" onclick="updatePlan()">수정</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer id="footer"></footer>

<!--<script src="/javascript/calendar.js"></script>-->
<script src="/javascript/planModal.js"></script>
<!--<script src="/javascript/fetchMainHF.js"></script>-->
<!--<script src="/javascript/openMessage.js"></script>-->
</body>
</html>

<script th:inline="javascript">

    function generateCalendar(year, month){

        let abc = [[${scheduleList}]]
        let def = [[${studyList}]]
        console.log(abc.at(0))

        const today = new Date();
        const dayInMonth = new Date(year, month, 0).getDate(); //달의 일수
        const firstDay = new Date(year, month - 1, 1).getDay(); //달의 첫 요일


        let calendarHTML = '<table>';
        calendarHTML += '<tr id="calendarDate"><th class="Sun">일요일</th><th>월요일</th><th>화요일</th><th>수요일</th><th>목요일</th><th>금요일</th><th class="Sat">토요일</th></tr>'
        let dayCounter = 1;

        for(let i = 0; i < 6; i++) {

            calendarHTML += '<tr>';

            for(let j = 0; j < 7; j++) {
                const holiday = new Date(year, month - 1, dayCounter).getDay();
                if(i == 0 && j < firstDay){
                    calendarHTML += '<td></td>';
                }
                else if(dayCounter > dayInMonth){
                    calendarHTML += '<td></td>';
                }
                else {
                    if(dayCounter == today.getDate() && year == today.getFullYear() && month == today.getMonth() + 1){
                        //calendarHTML += `<td id="today">${dayCounter}<div class="plan_div" id="${dayCounter}"></div></td>`;
                        if(holiday == 0){
                            calendarHTML += `<td id="today"><div class="Sun">${dayCounter}</div><div class="plan_div" id="${dayCounter}">`;
                            for(let s=0; s<abc.length; s++) {
                                if(dayCounter==abc.at(s).day && month==abc.at(s).month && year==abc.at(s).year) {
                                    let date = `${abc.at(s).year}`+'-'+`${abc.at(s).month}`+'-'+`${abc.at(s).day}`;
                                    calendarHTML += `<a onclick="planContent('${abc.at(s).id}', '${abc.at(s).title}', '${date}')">${abc.at(s).title}</a><br>`;
                                }
                            }
                            for(let s=0; s<def.length; s++) {
                                let studyDate = def.at(s).date;
                                let studyYear = studyDate.substring(0, 4);
                                let studyMonth = studyDate.substring(5,7);
                                let studyDay = studyDate.substring(8,10);
                                if(dayCounter==studyDay && month==studyMonth && year==studyYear) {
                                    console.log("if문 실행")
                                    calendarHTML += `<a href="/study/studyContent?id=${def.at(s).id}">${def.at(s).title}</a><br>`;
                                }
                            }
                            calendarHTML += `</div></td>`;
                        }
                        else if(holiday == 6){
                            calendarHTML += `<td id="today"><div class="Sat">${dayCounter}</div><div class="plan_div" id="${dayCounter}">`;
                            for(let s=0; s<abc.length; s++) {
                                if(dayCounter==abc.at(s).day && month==abc.at(s).month && year==abc.at(s).year) {
                                    let date = `${abc.at(s).year}`+'-'+`${abc.at(s).month}`+'-'+`${abc.at(s).day}`;
                                    calendarHTML += `<a onclick="planContent('${abc.at(s).id}', '${abc.at(s).title}', '${date}')">${abc.at(s).title}</a><br>`;
                                }
                            }
                            for(let s=0; s<def.length; s++) {
                                let studyDate = def.at(s).date;
                                let studyYear = studyDate.substring(0, 4);
                                let studyMonth = studyDate.substring(5,7);
                                let studyDay = studyDate.substring(8,10);
                                if(dayCounter==studyDay && month==studyMonth && year==studyYear) {
                                    console.log("if문 실행")
                                    calendarHTML += `<a href="/study/studyContent?id=${def.at(s).id}">${def.at(s).title}</a><br>`;
                                }
                            }
                            calendarHTML += `</div></td>`;
                        }
                        else{
                            calendarHTML += `<td id="today">${dayCounter}<div class="plan_div" id="${dayCounter}">`;
                            for(let s=0; s<abc.length; s++) {
                                if(dayCounter==abc.at(s).day && month==abc.at(s).month && year==abc.at(s).year) {
                                    let date = `${abc.at(s).year}`+'-'+`${abc.at(s).month}`+'-'+`${abc.at(s).day}`;
                                    calendarHTML += `<a onclick="planContent('${abc.at(s).id}', '${abc.at(s).title}', '${date}')">${abc.at(s).title}</a><br>`;
                                }
                            }
                            for(let s=0; s<def.length; s++) {
                                let studyDate = def.at(s).date;
                                let studyYear = studyDate.substring(0, 4);
                                let studyMonth = studyDate.substring(5,7);
                                let studyDay = studyDate.substring(8,10);
                                if(dayCounter==studyDay && month==studyMonth && year==studyYear) {
                                    console.log("if문 실행")
                                    calendarHTML += `<a href="/study/studyContent?id=${def.at(s).id}">${def.at(s).title}</a><br>`;
                                }
                            }
                            calendarHTML += `</div></td>`;
                        }
                    }
                    else if(holiday == 0){
                        calendarHTML += `<td><div class="Sun">${dayCounter}</div><div class="plan_div" id="${dayCounter}">`;
                        for(let s=0; s<abc.length; s++) {
                            if(dayCounter==abc.at(s).day && month==abc.at(s).month && year==abc.at(s).year) {
                                let date = `${abc.at(s).year}`+'-'+`${abc.at(s).month}`+'-'+`${abc.at(s).day}`;
                                calendarHTML += `<a onclick="planContent('${abc.at(s).id}', '${abc.at(s).title}', '${date}')">${abc.at(s).title}</a><br>`;
                            }
                        }
                        for(let s=0; s<def.length; s++) {
                            let studyDate = def.at(s).date;
                            let studyYear = studyDate.substring(0, 4);
                            let studyMonth = studyDate.substring(5,7);
                            let studyDay = studyDate.substring(8,10);
                            if(dayCounter==studyDay && month==studyMonth && year==studyYear) {
                                console.log("if문 실행")
                                calendarHTML += `<a href="/study/studyContent?id=${def.at(s).id}">${def.at(s).title}</a><br>`;
                            }
                        }
                        calendarHTML += `</div></td>`;
                    }
                    else if(holiday == 6){
                        calendarHTML += `<td><div class="Sat">${dayCounter}</div><div class="plan_div" id="${dayCounter}">`;
                        for(let s=0; s<abc.length; s++) {
                            if(dayCounter==abc.at(s).day && month==abc.at(s).month && year==abc.at(s).year) {
                                let date = `${abc.at(s).year}`+'-'+`${abc.at(s).month}`+'-'+`${abc.at(s).day}`;
                                calendarHTML += `<a onclick="planContent('${abc.at(s).id}', '${abc.at(s).title}', '${date}')">${abc.at(s).title}</a><br>`;
                            }
                        }
                        for(let s=0; s<def.length; s++) {
                            let studyDate = def.at(s).date;
                            let studyYear = studyDate.substring(0, 4);
                            let studyMonth = studyDate.substring(5,7);
                            let studyDay = studyDate.substring(8,10);
                            if(dayCounter==studyDay && month==studyMonth && year==studyYear) {
                                console.log("if문 실행")
                                calendarHTML += `<a href="/study/studyContent?id=${def.at(s).id}">${def.at(s).title}</a><br>`;
                            }
                        }
                        calendarHTML += `</div></td>`;
                    }

                    else{
                        calendarHTML += `<td>${dayCounter}<div class="plan_div" id="${dayCounter}">`;
                        for(let s=0; s<abc.length; s++) {
                            if(dayCounter==abc.at(s).day && month==abc.at(s).month && year==abc.at(s).year) {
                                let date = `${abc.at(s).year}`+'-'+`${abc.at(s).month}`+'-'+`${abc.at(s).day}`;
                                calendarHTML += `<a onclick="planContent('${abc.at(s).id}', '${abc.at(s).title}', '${date}')">${abc.at(s).title}</a><br>`;
                            }
                        }
                        for(let s=0; s<def.length; s++) {
                            let studyDate = def.at(s).date;
                            let studyYear = studyDate.substring(0, 4);
                            let studyMonth = studyDate.substring(5,7);
                            let studyDay = studyDate.substring(8,10);
                            if(dayCounter==studyDay && month==studyMonth && year==studyYear) {
                                console.log("if문 실행")
                                calendarHTML += `<a href="/study/studyContent?id=${def.at(s).id}">${def.at(s).title}</a><br>`;
                            }
                        }
                        calendarHTML += `</div></td>`;
                    }
                    dayCounter++;
                }

            }

            calendarHTML += '</tr>';
        }

        calendarHTML += '</table>';

        document.getElementById('Calendar_Container').innerHTML = calendarHTML;

        if(month == 0){
            document.getElementById('currentYearMonth').innerHTML = `${year - 1}년 ${month + 12}월`;
        }
        else{
            document.getElementById('currentYearMonth').innerHTML = `${year}년 ${month}월`;
        }

    }

    const pos = new Date();
    pos.setMonth(pos.getMonth() + 1);

    //달력 보여주는 함수
    function showCalendar(change){
        if(change == -1){
            prevCalendar(change);
        }
        else{
            nextCalendar(change);
        }
    }

    //다음 월 버튼
    function prevCalendar(change){
        pos.setMonth(pos.getMonth() + change);
        generateCalendar(pos.getFullYear(), pos.getMonth());
        pos += -1;

    }

    //이전 월 버튼
    function nextCalendar(change){
        pos.setMonth(pos.getMonth() + change);
        generateCalendar(pos.getFullYear(), pos.getMonth());
        pos += 1;
    }

    generateCalendar(pos.getFullYear(), pos.getMonth());

</script>
</body>
</html>