<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/contents.css">
    <link rel="stylesheet" href="/css/plan.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Title</title>
    <style>
        table{
            border-spacing: 0;
        }
        td{
            border:solid black 1px !important;
            height:150px;
            width:200px;
            position:relative;
            vertical-align: top;

        }
        .plan_div{
            border:solid 1px;
            height:100px;
            margin:5px;

        }
        .inner{
            display:flex;
            align-items: center;
            justify-content: center;
        }
        .today{
            margin:5px;
            color: green;
        }
        .normal_day{
            margin:5px;
            color: black;
        }
        .sat{
            color: blue;
        }
        .sun{
            color: red;
        }
    </style>
</head>
<body>
<header id="header">
    <div class="inner">
        <a href="index.html" id="dms"><img src="/img/DMS.png" height="80" onclick=""></a>
        <ul class="nav">
            <li><a href="board.html" class="nav_item">게시판</a></li>
            <li><a href="study.html" class="nav_item">공부기록</a></li>
            <li><a href="plan.html" class="nav_item">일정</a></li>
        </ul>
        <span id="message"><img src="/img/message.png" id = message_icon onclick=""></span>
        <span id="profile">
                   <li><a href="#"><img src="/img/profile.png" id = profile_icon  onclick=""></a>
                       <ul id="profile_dropdown">
                          <li><a href="#" class="dropdown_item">내 정보</a></li>
                          <li><a href="#" class="dropdown_item">로그아웃</a></li>
                       </ul>
                 </li>
            </span>
    </div>
</header>
<!--<section id="contents">-->
    <div class="inner">
        <div>
            <div id="Calendar_header">
                <span id="currentYearMonth"></span>
<!--                <button id="openPlanWrite" class="plan_button add_plan_btn" onclick="planOpen()">일정 쓰기</button>-->
                <button class="next plan_button direct_btn" onclick="showCalendar(1)">></button>
                <button class="prev plan_button direct_btn" onclick="showCalendar(-1)"><</button>

            </div>
            <div id="Calendar_Container"></div>

        </div>
        <div id="planWrite" class="modal">
            <div id="planWriteContent">
                <div id="planWriteHeader">
                    <span id="planWrite_title">일정을 입력하세요</span>
                    <div class="close" id="closePlanBtn" onclick="planClose()">&times;</div>
                </div>

                <div id="planWriteInner">
                    <div id="plan_Container">
                        <div class="Inner_item" id="plan_item">
                            <label for="plan_content">일정 내용</label>
                            <br>
                            <input type="text" id="plan_content">
                        </div>
                        <div class="Inner_item" id="date_item">
                            <label for="date_select">날짜</label>
                            <br>
                            <input type="date" id="date_select">
                        </div>
                    </div>
                </div>
                <div id="planWriteFooter">
                    <button type="">삭제</button>
                    <button onclick="addPlan()">추가</button>

                </div>
            </div>


        </div>
    </div>
<!--</section>-->
    <form name="scheduleHome" id="scheduleHome" method="GET">
        <div>
            <button id="openPlanWrite" class="plan_button add_plan_btn" onclick="planOpen()">일정 쓰기</button>
<!--            <a th:href="@{/schedule/scheduleHomes(year=${(todayInfo.search_year)-1},-->
<!--            month=${(todayInfo.search_month)-1})}">이전해</a>-->
            <section>
            <span>
                <button th:href="@{/schedule/scheduleHomes(year=${todayInfo.before_year}, month=${todayInfo.before_month})}">이전달</button>
                <span style="font-size: 50px" th:text="${(todayInfo.search_month)+1}"></span>
                <button th:href="@{/schedule/scheduleHomes(year=${todayInfo.after_year}, month=${todayInfo.after_month})}">다음달</button>
            </span>
            </section>
<!--            <a th:href="@{/schedule/scheduleHomes(year=${(todayInfo.search_year)+1},-->
<!--            month=${(todayInfo.search_month)-1})}">다음해</a>-->

        </div>
        <a th:href="@{/schedule/scheduleCreate(memberID=${session.loginId})}">일정 추가</a>

        <table>
            <tr>
                <th>일요일</th>
                <th>월요일</th>
                <th>화요일</th>
                <th>수요일</th>
                <th>목요일</th>
                <th>금요일</th>
                <th>토요일</th>
            </tr>

            <th:block th:each="dateList, dateListStat : ${dateList}">
                <td th:if="${dateListStat.count<8}">
                    <div th:if="${dateList.value==null}"></div>
                    <div class="today" th:if="${dateList.value=='today'}" th:text="${dateList.date}"></div>
                    <div class="normal_day" th:if="${dateList.value=='normal_date'}" th:text="${dateList.date}"></div>
                    <div class="plan_div">
                    <th:block th:each="scheduleList, scheduleListStat : ${scheduleList}">
                        <div class="plan_div" th:if="${scheduleListStat.current.getDay()==dateList.date}">
                            <a th:href="@{/schedule/scheduleContent(id=${scheduleList.id})}" th:text="${scheduleListStat.current.getTitle()}"></a>
                        </div>
                    </th:block>
                    </div>
                </td>
            </th:block>
            <tr></tr>
            <th:block th:each="dateList, dateListStat : ${dateList}">
                <td th:if="${dateListStat.index>=7 && dateListStat.index<14}">
                    <div th:if="${dateList.value==null}"></div>
                    <div class="today" th:if="${dateList.value=='today'}" th:text="${dateList.date}"></div>
                    <div class="normal_day" th:if="${dateList.value=='normal_date'}" th:text="${dateList.date}"></div>
                    <div class="plan_div">
                    <th:block th:each="scheduleList, scheduleListStat : ${scheduleList}">
                        <div class="plan_div" th:if="${scheduleListStat.current.getDay()==dateList.date}">
                            <a th:href="@{/schedule/scheduleContent(id=${scheduleList.id})}" th:text="${scheduleListStat.current.getTitle()}"></a>
                        </div>
                    </th:block>
                    </div>
                </td>
            </th:block>
            <tr></tr>
            <th:block th:each="dateList, dateListStat : ${dateList}">
                <td th:if="${dateListStat.index>=14 && dateListStat.index<21}">
                    <div th:if="${dateList.value==null}"></div>
                    <div class="today" th:if="${dateList.value=='today'}" th:text="${dateList.date}"></div>
                    <div class="normal_day" th:if="${dateList.value=='normal_date'}" th:text="${dateList.date}"></div>
                    <div class="plan_div">
                    <th:block th:each="scheduleList, scheduleListStat : ${scheduleList}">
                        <div th:if="${scheduleListStat.current.getDay()==dateList.date}">
                            <a th:href="@{/schedule/scheduleContent(id=${scheduleList.id})}" th:text="${scheduleListStat.current.getTitle()}"></a>
                        </div>
                    </th:block>
                    </div>
                </td>
            </th:block>
            <tr></tr>
            <th:block th:each="dateList, dateListStat : ${dateList}">
                <td th:if="${dateListStat.index>=21 && dateListStat.index<28}">
                    <div th:if="${dateList.value==null}"></div>
                    <div class="today" th:if="${dateList.value=='today'}" th:text="${dateList.date}"></div>
                    <div class="normal_day" th:if="${dateList.value=='normal_date'}" th:text="${dateList.date}"></div>
                    <div class="plan_div">
                    <th:block th:each="scheduleList, scheduleListStat : ${scheduleList}">
                        <div th:if="${scheduleListStat.current.getDay()==dateList.date}">
                            <a th:href="@{/schedule/scheduleContent(id=${scheduleList.id})}" th:text="${scheduleListStat.current.getTitle()}"></a>
                        </div>
                    </th:block>
                    </div>
                </td>
            </th:block>
            <tr></tr>
            <th:block th:each="dateList, dateListStat : ${dateList}">
                <td th:if="${dateListStat.index>=28}">
                    <div th:if="${dateList.value==null}"></div>
                    <div class="today" th:if="${dateList.value=='today'}" th:text="${dateList.date}"></div>
                    <div class="normal_day" th:if="${dateList.value=='normal_date'}" th:text="${dateList.date}"></div>
                    <div class="plan_div">
                    <th:block th:each="scheduleList, scheduleListStat : ${scheduleList}">
                        <div th:if="${scheduleListStat.current.getDay()==dateList.date}">
                            <a th:href="@{/schedule/scheduleContent(id=${scheduleList.id})}" th:text="${scheduleListStat.current.getTitle()}"></a>
                        </div>
                    </th:block>
                    </div>
                </td>
            </th:block>
        <div th:text="${today}"></div>
        </table>
    </form>



</body>
<script src="/javascript/planModal.js"></script>
<script th:inline="javascript">
    let abc = [[${scheduleList}]]

    console.log(abc[3]);


</script>
</html>