   /*--------------------------------------------------------달력 grid-----------------------------------------------------*/
   .calendar{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }
   table{
        border-spacing: 0;
        border:solid gray 0.5px !important;
    }
    th{
        border:solid gray 0.5px;
    }
   td{
    border:solid gray 0.5px !important;
    height:45px;
    width:70px;
    position:relative;
    vertical-align: top;
   }
   .Sat{
        font-weight: bold;
        color:blue;
    }
    .Sun{
        font-weight: bold;
        color:red;
    }
    .plan_count{
        border:solid 1px;
        height:10px;
        position:relative;
        top:13px;
        left:57px;
        width:10px;
        border-radius: 100%;
        background-color: lightgreen;
        display:none;
        
    }
    #planHeader{
        width:100%;
    }
    #HeaderInner{
        display:flex;
        flex-direction: row;
    }
    #currentYearMonth{
        font-size:20px;
        float:left;
        margin-right:360px;
        margin-left:30px;
    }
    .calendarBtn{
        background-color: var(--fc-button-bg-color, #2C3E50);
        color:white;
        cursor: pointer;
        height:20px;
        border-radius: 4px;
    }
    
   /*--------------------------------------------------------달력 grid-----------------------------------------------------*/





   /*--------------------------------------------------------오늘의 일정 grid-----------------------------------------------------*/
    #detail_header{
        border-bottom:solid 1.5px;
        height:60px; /*이거 변경하면 #year_month_date에서 height도 바꿔주기, 400 - 여기 값만큼*/
        line-height: 60px;
    }
    #detail_content{
        display:flex;
        flex-direction: row;
    }
    #year_month_date{
        width:50%;
        height:340px;
        border-right:solid 1px gray;
        text-align: center;
        
    }
    #todayYear_month{
        display:block;
        font-size:30px;
        position:relative;
        top:80px;
    }
    #todayDate{
        display: block;
        font-size:60px;
        font-weight: bold;
        position:relative;
        top:100px;
    }
    #plan_div{
        width:50%;
    }
    #today_plan{
        font-size:25px;
        margin-left:10px;
        font-weight: 1000;
        font-family: 'Gong';
    }
   /*--------------------------------------------------------오늘의 일정 grid-----------------------------------------------------*/





   
    




 