body{
    display:flex;
    justify-content: center;
    background-color: #8B8B8B;
}
#message_category{
    width:700px;
    border-radius:10px;

    height:520px;
    background-color: white;
    padding:5px 10px 0 10px;
}
#message_header{
    border-bottom: solid 2px #eee;
    height:50px;
    line-height: 50px;
    margin-top:10px;
    margin-bottom:20px;
}
#message_content{
    height:330px;

}
#m_h_inner{
    display:flex;
    flex-direction: row;

}
.m_h_item{
    padding:0 20px 5px 20px;
}
.m_h_item:hover{
    color:red;

}

#color_header{
    display:flex;
    flex-direction: row;
    background-color: #8B8B8B;
    font-size:13px;
    border-radius: 100px;
}
.color_item{
    color:white;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:black;
}
.message_list{
    display:flex;
    flex-direction: row;
}
#allCheckbox, .list_checkbox{
    margin:3px 10px 3px 10px;
}
#list{
    margin:3px 50px 3px 10px;
}
.list_number{
    width:44px;
    text-align: center;
}
#name{
    margin:3px 210px 3px 10px;
}
.list_name{
    width:130px;
    text-align: center;
    margin-right:20px;
}
#title{
    margin:3px 210px 3px 10px;
}
.list_title{
    width:350px;
    text-align: center;
}
#date{
    margin:3px 0 3px 10px;
}
.list_date{
    text-align: center;

}
.message_list{
    height:30px;
    border-bottom: 1px solid #9b9797;
    font-size:13px;
    align-items: center;
}
#footer_button{
    float:right;
    margin-top:10px;
    margin-right:5px;
}
#footer_page{
    text-align: center;
}