<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/contents.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Welcome to DMS</title>
</head>
<body>
    <header id="header">       
        <div class="inner">
            <a href="main" id="dms"><img src="/img/DMS.png" height="80" onclick=""></a>
            <ul class="nav">
                 <li><a href="board.html" class="nav_item">게시판</a></li>
                 <li><a href="/study/studyHome" class="nav_item">공부기록</a></li>
                 <li><a href="plan.html" class="nav_item">일정</a></li>
            </ul>
             <span id="message"><a href="/message"><img src="/img/message.png" id = message_icon onclick=""></a></span>
             <span id="profile">
                   <li><a href="#"><img src="/img/profile.png" id = profile_icon  onclick=""></a>
                       <ul id="profile_dropdown">
                          <li><a href="#" class="dropdown_item">내 정보</a></li>
                          <li><a href="#" class="dropdown_item">로그아웃</a></li>
                       </ul>                 
                 </li>
            </span>
        </div>      
    </header>
    <section id="contents">
        <div class="inner">
            <div id="contents_container">
                <div class="detail">디테일 일정</div>
                <div class="calendar">달력</div>
                <div class="playing">공모전</div>
                <div class="board">게시판</div>
            </div>          
        </div>
    </section>
    <footer id="footer">
        <div class="inner">
            <div id="footer_container">
                footer
            </div>
        </div>
        
    </footer>
</body>
</html>
