#contents {
    margin-bottom:100px;
}

.container {
    margin-left : 20%;
    margin-right:20%;
    margin-top:50px;
}

.card p {
    font-size:30px;
    border-bottom : 2px solid #ddd;
}

.sub-category {
    font-weight:bold;
}

.sub-title {
    font-size:18px;
    font-weight:bold;
}

.card-category {
    margin-top:10px;
    font-size:18px;
}

.card-title {
    margin-top:10px;
    font-size:18px;
}

.card-text {
    font-size:20px;
    margin-top:10px;
}

.card-date {
    font-size:18px;
    float:right;
}

.card-body x {
    font-weight:bold;
}

.board-detail textarea[name="board-content" ] {
    margin-top : 10px;
    font-size : 25px;
    width : 100%;
    border : 1px solid black;
    height : 850px;
}

.row-mt-3 {
    float:right;
}

.row-mt-3 button[type="button"] {
    width: 50px;
    height: 25px;
    font-size: 15px;
    color:white;
    background-color: black;
}

.row-mt-3 a {
    width: 50px;
    height: 25px;
    font-size: 15px;
    color:white;
    background-color: black;
}


.row-mt-3 button[name="modify"] {
    background-color: black;
    width: 50px;
    height: 25px;
    font-size: 15px;
    color:white;
}

.row-mt-3 button[type="submit"] {
    background-color: black;
    width: 50px;
    height: 25px;
    font-size: 15px;
    color:white;
}

.button[name="modify"] {
    background-color: black;
    width: 50px;
    height: 25px;
    font-size: 15px;
    color:white;
}

.submit{
    background-color: black;
    width: 10%;
    height: 3.3em;
    font-size: 15px;
    font-weight: bold;
    color: aliceblue;
    float:right;
}

.form-commentInfo{
    margin-top:100px;
}

.comment-count{
    margin-bottom: 10px;
}

.comment-input{
    width:85%;
    height: 3.3em;
    font-size:15px;
}

.comments{
    margin-top: 10px;
}

.comment_contents {
    width: 95%;
    margin: 10px;
    padding: 0.5em;
    border-bottom: 1px solid #c1bcba;
}

.text-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-top:10px;
}

.text-center .name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.3em;
}

.text-center .commentContents {
    font-size: 20px;
    font-style: italic;
    width : 500px;
    text-align:left;
}

.commentBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5em;
}

.commentBtn button {
    background-color: black;
    height: 2em;
    margin-left: 5px;
    color: white;
}

.comment-page {
    text-align: center;
    margin-top: 20px;
}